html, body {
 position: relative;
 height: 100%;
 /*    overflow-x: hidden;*/
}

html{
  /*overflow-x: hidden;*/
}

body {
  
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  /*overflow-x: hidden;*/
  font-family: 'Roboto', sans-serif; 
  /* overflow-y: hidden;*/
}

.flexContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  margin-top: 1vh;
} 


.flexContainer > div {
  flex: 1 1 0;
  width:42%;
}

#fullImg {
  width: 100%;
  float: left;

  color: white;
  box-shadow: "10px 20px 30px silver";
}

.fullImgClass {
  float: left;
  clear: both;
}

.albumDivC {

  background-color: rgb(202, 202, 202);
}

#buttonsDiv {
  width: 70%;
  margin: 0 auto 10px auto;
}

.albumBotton {
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
      background: #fff;
    display: block;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.19vw;
    margin: 2% 14%;
    width: 83%;
    padding: 3%;
    outline: none;
    position: relative;
 
}

.picHold {
 

  
  width: 16.66%;
  cursor: pointer;
 
  
}



.container-header {
  width: 100%;
  max-width: 1500px; 
  padding: 0 15px;
  margin: 0 auto;
  } 
  .container-mid {
  width: 100%;
  max-width: 85%; 
  padding: 0 15px;
  margin: 0 auto;
  } 
  .container-fool{
    
    left: 82%;
    top: 14%;
    padding-top: 7%;
    padding-right: 3%;

  }
  .nav_link {
    text-decoration: none;
    color: #000;
    list-style-type: none;

  }
  .nav_link:hover{
    text-decoration: none;
    color: #002663;
  }





    .portfolio_link {
    text-decoration: none;
    color: #04255c;
    list-style-type: none;

  }
 
  .nav li{
    list-style-type: none;
    font-size: 1.1vw;
    text-align: right;
    margin-top: 4%;;
    margin-bottom: 4%;;

  }
  .nav_menu {
    font-weight: 300;
  }
  .mail_box_header {
     text-align:right;
     bottom:0;
    
     height: 70px;
     left: 80%;
  }
  .butten_header_footer{
     bottom:0;
     
     height: 70px;
     left: 9%;
  }
/*  .scroll{
     bottom:0;
     
     padding-bottom: 10%;c
     left: 50%;
     position: relative;
     padding-top: 11%;
  }*/
  .logo_header{
      position: absolute;  
    padding-top: 8%;
    margin-left: -2%;
      display: block;
    width: 20%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 1%;
  }
   .logo_header img{
    display: block;
    width: 76.3%;
    height: auto;
  }
  .logo_footer{
      position: absolute;  
    padding-top: 8%;
    margin-left: -2%;
      display: block;
    width: 20%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 1%;
  }
    .logo_footer img{
     display: block;
    width: 76.3%;
    height: auto;
  }

 .sec_2{
  text-align: center;
 }
 .sec_2 h1 {
  font-size: 10vw;
  margin-bottom:0px;
 }
 .sec_2 p { 
    font-weight: 100;
    font-size: 1.13vw;
    line-height: 1.7; 
}


/**/

.toggles button{
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 5px;
}
.toggles{
  font-weight: 300;
  margin-left:6rem;
}
.toggles h3 {
  font-weight: 300;
  font-size: 5.64vw;

}

.toggles button:last-child:after{
  content:'';
}
.toggles p{
  font-size: 21px;
}
.text_portfolio{
  padding-top: 2%;
  font-size:0.85vw;
  font-weight: 100;
  padding-left: 17%;
}

.menu_text button{
border: none;
  color: #424146;
  cursor: pointer;
  font-size: 0.83vw;
  margin: 20px 5px;
}


.active_two {

width:90%;
 box-shadow: 0 0 2px rgba(0,0,0,0.3);
  border-left: 10px solid ;
  border-color: #04255c;
}


.menu_text button:last-child:after{
  content:'';
}
.postss{
  width: 90%;
  display: grid;
  margin:0 auto;
  grid-template-columns: auto ;
}

.posts{
 margin: -5rem 0rem 2rem 0rem;
}
.postss ul {
  list-style-type: none;
}
.text-slader {
  text-align: center;
  font-weight: 100;
}





/*portfolio_button*/

.button_portfolio button{
border: none;
  cursor: pointer;
  font-size: 0.83vw;
  margin: 20px 5px;

}
.btn_portfolio h4{
font-weight: 500;

}
#button_portfolio{
  display: grid;
  width:83%;
  
}
.activee, .btn_portfolio:hover {
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  

}
.activee{
 border: solid #222;
  border-width: 0px 0px 0px 19px;
}




.btn_portfolio {
  border: none;
  outline: none;
  padding: 0px 39px;
  
  cursor: pointer;
  font-size: 2.6vw;
}
.button_portfolio button:last-child:after{
  content:'';
}

/*text Sec2*/
.maintext{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  padding: 1.2%;
  font-size: 0.7vw
 }
.container-fluid{
  height: 100%;
  overflow: auto;
  top:0;
  right:0;
  left:0;
  bottom:0;
  position: fixed;
}
#btn-bar{
 width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;

}

.btn-default{
  text-align: center;
  width: 6em;
  
 /* font-family: 'IBM Plex Sans', sans-serif;*/
  font-size: 1.5em;

  display: inline-block;
    border: none;
    outline: none;
    padding: 1% 2.3%;
    cursor: pointer;
    font-size: 1vw;
}



h3{
  padding-left: 14%;
  font-size: 2.14vw;
font-weight: 300;
}


.active_one, .btn:hover {
  background-color: #04255c;
  color: #dfc9a2;

}


/*news*/

.news{
  padding-top: 6%;
  padding-bottom: 6%;
}
.sqr{
  background: #4682b4;
  width: 3%;
  padding-bottom: 32%;
  display: inline-block; 
}

.one_news{
   background: #4682b4;
  width: 3%;
  padding-bottom: 32%;
  display: inline-block; 
}
 .day{
 width: 41%;
    padding-bottom: 10%;
    background: #000;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: -webkit-center;
    padding: 3%;
    font-size: 5.74vw;
    margin: 0.4%;
 }
 .month{
 font-size: 4.74vw;
    width: 99%;
    padding: 2rem;
    color: #000;
    background: #fff;
    padding: 6% 3% 0% 3%;
    text-align: center;
 }
 .calender{
  width:20%;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
 }
/**/
.large, .small {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.large {
  /*background: #E51400;*/
  width: 40.777777%;
  padding-bottom: 53%;
  float: left;
  position: relative;
  border-radius: 1%;
  overflow:hidden;
      background: #000;
      margin-top:14%;
 
}
.img{
  background: url(Img/news/rpl_designaward.jpg);
  background-size: cover;
  background-position: center;
}
.img1{
  background: url(Img/news/f76d0279255739.5cbdffd868665.jpg);
  background-size: cover;
  background-position: center;
}
.img2{
  background: url(Img/news/36057777777491.5c963762dc3a6.jpg);
  background-size: cover;
  background-position: center;
}
.img3{
  background: url(Img/news/moszoo-1200.jpeg);
  background-size: cover;
  background-position: center;
}
.img4{
  background: url(Img/news/31274278490961.5ca6218f223a6.jpg);
  background-size: cover;
  background-position: center;
}
.img5{
  background: url(Img/news/79ddfc79404437.5cc32f1fbe783.jpg);
  background-size: cover;
  background-position: center;
}
.img6{
  background: url(Img/news/16d14d78680719.5cac32ded20a4.jpg);
  background-size: cover;
  background-position: center;
}
 
.large .img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 color: #de2727;

 }
 .text_in_news{
  position: absolute;
  display: block;
  bottom: 0;
  padding:5% 10%;
  text-decoration: none;
  color: #fff;
 list-style-type: none;
 font-size:1vw;
 }
  .large .text_in_news:hover{
 color: #de2727;
 }
 .text_in_news_small{
  position: absolute;
  display: block;
  bottom: 0;
  padding:5% 10%;
  text-decoration: none;
  color: #fff;
 list-style-type: none;
 font-size:1vw;
 }
 .text_in_news_small:hover{
 color: #de2727;
 }
 .large .img  {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:97.2%;
 padding-bottom: 132%;
 opacity: 0.7;
 }
 /*dddddd*/
 .small .img1:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


 }
 .small .img1 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }
  .small .img2:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


 }
 .small .img2 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }
  .small .img3:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


 }
 .small .img3 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }
  .small .img4:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


 }
 .small .img4 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }
  .small .img5:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


 }
 .small .img5 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }
  .small .img6:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);



 }
 .small .img6 {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width:100%;
  padding-bottom: 100%;
      opacity: 0.7;
 }

/*dddddd*/
.small {
  width: 20.333333%;
  padding-bottom: 20.933333%;
  margin-bottom: 2%;
  margin-left: 12%;
  display: block;
  background: #000;
  float: right;
  position:relative;
  margin-right: -3%;
  border-radius: 2%;
  overflow:hidden;
}


 .small_top {
  width: 19.333333%;
  padding-bottom: 19.333333%;
  margin-bottom: 1%;
  margin-left: 1%;
  display: block;
  background: #fff;
  float: right;
  position:relative;
  position: absolute;
  
  
  &:last-child {
    margin-bottom: 0;
    background: #F09609;
  }
}

.small div, .large div {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 10px;
}

.top_icon, .bottom {
  
  overflow: hidden;
  margin: 0 auto 0%;
   display: grid;
   margin-left: 0px;
       width: 100%;
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

.top_icon .large {
  background: #00ABA9;
}

 .small_top {

 float: left;
  display: inline-flex;
  padding-bottom: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
   width: 34%;
   margin-left: -3%;

}

.bottom .large {
  float: right;
}

@media screen and (max-width: 768px) {
  .top, .bottom {
   width: 98%; 
   display: block;
   margin-top: 10%;
  }
}

@media screen and (max-width: 600px) {
  .large {
   width: 100%; 
  }
  .small_top {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    &:last-child {
     margin-right: 0; 
    }
  }
}




/*box black*/

.swiper-container {
 width: 100%;
 height: 100%;
    }
.swiper-slide {
        text-align: center;
    font-size: 3vw;
    color: #fff;
     /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
    justify-content: center;
     -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 200;
    z-index: 100;
}

#progress {
    /*position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    height: 1px;
    z-index: 9;
    margin: 13.7% 9.4%;
    transition: width 0.1s;
}
.black_box_text {
    background: #000;
    font-weight: 200;
    color: #000;
    padding: 7% 19% 1%;
}

.line_box p{
   color: #fff;
   font-weight: 200;
   margin-top: -1%; 
   /*margin-right: 3%;*/
   position: absolute;
   font-size: 1vw;
}


.swiper-wrapper{
    transform: 0 ;
    transition-duration: ;
}


/*dddd*/
.swiper-wrapper{
    transform: 0 ;
    transition-duration: ;
}






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #04255c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 26%;
    z-index: 99;
}

.sidenav a {
  padding: 0px 8px 8px 11%;
    text-decoration: none;
    font-size: 16vw;
    color: #fff;
    display: block;
    
    text-transform: uppercase;
  
    text-decoration: none;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
  
 
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    font-family: Druk,Impact,sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
a.menu-list {
  padding-top: 3%;
}
.menu-list_img{
    position: absolute;
    top: 0;
    font-size: 13.5vw;
    margin-left: 50px;
    padding: 0px;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 8%;
    font-size: 13.5vw;
    margin-left: 50px;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .menu_icon{
   display: none;
}

@media screen and (max-width: 1080px) {
  #view{
   display: none;
  }
  .menu_icon{
    display: block;
  }
}

.blur{
  position: absolute;
    width: 30%;
    height: 30% ;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.animated.delay-1s{
  animation-duration: 1s;
  animation-delay: 0.6s!important;
  animation-iteration-count: inherit;
}
.animated.delay-2s{
  animation-duration: 1s;
  animation-delay: 0.8s!important;
  animation-iteration-count: inherit;
}

/*scroll*/
.container {
     padding: 2%;
    width: 8.6%;
  margin: 0 auto;
  
 -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
  
}

button {
  position: relative;
  padding: 0 0 10px 0;
  border: none;
  background: none;
  color: #04265e;
  font-size: 1.3vw;


    width: 100%;
 
  padding: 0;
  margin: 0;
}

.scroll {
  width: 100%;
  display: block;
  overflow: hidden;
  font-weight: 300;

}
.scroll:after {
  content: '';
  width: 100%;
  padding-bottom: 20%
  bottom: 0;
  display: block;
  border-bottom: 1px solid #04265e;
  animation-name: swipe;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 2s;
  transform: translateX(-101%);
  will-change: transform;
}

@keyframes swipe {
  0% {
    transform: translateX(-101%);
  }
  25% {
    transform: none;
  }
  75% {
    transform: none;
  }
  100% {
    transform: translateX(101%);
  }
}
.scroll_container{
       bottom:0;
     padding-bottom: 10%;
     position: relative;
     padding-top: 11%;
}
/*video block*/
.section{
  min-height: 100vh; 
  box-sizing:border-box;
  width: 100%; 
  display: table;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/*video media*/
.saction_madia{
  min-height: 38vh; 
  box-sizing:border-box;
  width: 77%; 
  display: table;
  left: 12%; 
  right: 11%;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 4%

}
.wrap_block_media {
  display: table-cell;
  vertical-align: middle;
  border-radius: 2%;

}

/*text_video*/
.text_video p{
    padding: 4%;
    bottom: 0;
    position: absolute;
  
    background: #FFF;
    height: 32%;
    margin: 0;
}

/*media*/

/*NEWS*/
/*Смартфоны (Портрет и ландшафтный)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/*Смартфоны (ландшафтный)*/
@media only screen and (min-width : 321px) {
  .small{
 display: block;
    width: 89.333333%;
    padding-bottom: 96.933333%;
    margin-left: 5%;
    float: none;
    margin-top: 18%;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}
  .large{
    display: none;
  }
  .small_top{
    width: 0%; 
     float: none; 
     margin-right: 0%
  }
  .month{
    color: rgb(202, 202, 202);
    background: #fff;
    text-align: left;
  }
  .day{
    background: #fff;
    color: #04245d;
    text-align:right;
  }
  .top_icon, .bottom{
    text-align: center;
    display: block;
    width:0%;
  }
.top, .bottom{
  width: 98%;
  margin-top:0%;
}
.small_top{
  width:31%;
  margin-left: -14%;
  box-shadow: none;
}
 .sec_2{
    display: none;
  }
  .sec_1{
    display: none;
  }
   #btn-bar{
    display: none;
  }
  .flexContainer{
    display: none;
  }
  .black_box_text{
    display: none;
  }
    .container-footer{
    display: none;
  }
  #block_day_fool{
    display: none;
  }
    .list-wrapper{
    display: block;
}
.scroll_container{
  padding-bottom: 20%;
  padding-top: 95%;
}
button{
  font-size: 4.3vw;
}
.container{
  width: 20.6%;
}
 .logo_header{
    width: 41%;
   padding-top: 5%;
  }
  .menu_icon{
    font-size: 13.5vw;
    padding-top: 0%;
  }
  #mail{
  display: none;
 }
 .section{
  display: none;
}
/**/
.top{
  display: none;
}
.media_sec_one,.media_sec_two,.media_sec_three {
  display: block;
}
.text_in_news_small
{
  display: block;
  padding: none; 
      font-size: 4vw;
    background: #fff;
    width: 80%;
    height: 20%;
   
    color: #000;
}


}

/*Смартфоны (portrait)*/
@media only screen and (max-width : 320px) {
  .small{
    display: block;
    width: 89.333333%;
    padding-bottom: 96.933333%;
    margin-left: 5%;
    float: none;
    margin-top: 18%;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);

  }
   .sec_2{
    display: none;
  }
  .sec_1{
    display: none;
  }
  #btn-bar{
    display: none;
  }
  .flexContainer{
    display: none;
  }
    .black_box_text{
    display: none;
  }
    .container-footer{
    display: none;
  }
  #block_day_fool{
    display: none;
  }
  
 #icon_mail{
  display: block;
 }
 #mail{
  display: none;
 }
 .section{
  display: none;
}
.top{
  display: none;
}
.media_sec_one,.media_sec_two,.media_sec_three {
  display: block;
}
.text_in_news_small
{
  display: block;
  padding: none; 
     font-size: 4vw;
    background: #fff;
    width: 100%;
    height: 20%;
    
    color: #000;
}
#video_media {
  display: table;
}


}

/*iPads (Портрет и Ландшафтный)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

 /*iPads (Ландшафтный)*/
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

 /*iPads (Портрет)*/
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
 
/*Настольные компьютеры и ноутбуки*/
@media  screen and (min-width : 1224px) {
  .small{
    display: block;
      width: 20.333333%;
  padding-bottom: 20.933333%;
  margin-bottom: 2%;
  margin-left: 12%;
  display: block;
  background: #000;
  float: right;
  position:relative;
  margin-right: -3%;
  border-radius: 2%;
  overflow:hidden;
  margin-top: 0%; 
  }
.text_in_news_small{
  display: block;
  padding: none; 
      font-size: 4vw;
    background: #fff;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #000;
}



   .large{
    display: block;
  }
    .small_top{
    width: 0%; 
     float: none; 
     margin-right: 0%
  }
  .month{
    color: rgb(202, 202, 202);
    background: #fff;
    text-align: left;
  }
  .day{
    background: #fff;
    color: #04245d;
    text-align:right;
  }
  .top_icon, .bottom{
    text-align: center;
    display: block;
    width:0%;
  }
.top, .bottom{
  width: 98%;
  margin-top:0%;
}
.small_top{
  width:31%;
  margin-left: -41%;
  box-shadow:0 0 2px rgba(0,0,0,0.3);
}
 .sec_2{
    display: block;
  }
  .sec_1{
    display: block;

  }
   #btn-bar{
    display: block;
  }
  .flexContainer{
    display: block;
  }
    .black_box_text{
    display: block;
  }
    .container-footer{
    display: block;
  }
  #block_day_fool{
    display: block;
  }
    .list-wrapper{
    display: none;
  }
  #icon_mail{
  display: none;
 }
 #mail{
  display: block;
 }
    .large{
    display: block;
  }

   #btn-bar{
    display: block;
  }
  .flexContainer{
    display: block;
  }
    .black_box_text{
    display: block;
  }
  .container-footer{
    display: block;
  }
  #block_day_fool{
    display: block;
  }
  .list-wrapper{
    display: none;
  }
  .logo_header{
    width: 20%;
   padding-top: 8%;
  }
  #icon_mail{
  display: none;
 }
 #mail{
  display: block;
 }
 .scroll_container{
  padding-top:10%;
  padding-bottom:11%;
 }
  button{
  font-size: 1.3vw;
}
 .container {
    width: 8.6%;
}
.section{
  display: table;
}
.top{
  display: block;
}
.media_sec_one,.media_sec_two,.media_sec_three {
  display: none;
}
.text_in_news_small{
  display: block;
  padding: 5% 10%; 
      font-size: 1vw;
    color: #fff;
    /**/

}


}

/* Большие экраны*/
 @media only screen and (min-width : 1824px) {
     .small{
    display: block;
      width: 20.333333%;
  padding-bottom: 20.933333%;
  margin-bottom: 2%;
  margin-left: 12%;
  display: block;
  background: #000;
  float: right;
  position:relative;
  margin-right: -3%;
  border-radius: 2%;
  overflow:hidden;
  margin-top: 0%; 
  }
   .large{
    display: block;
  }
    .small_top{
    width: 0%; 
     float: none; 
     margin-right: 0%
  }
  .month{
    color: rgb(202, 202, 202);
    background: #fff;
    text-align: left;
  }
  .day{
    background: #fff;
    color: #04245d;
    text-align:right;
  }
  .top_icon, .bottom{
    text-align: center;
    display: block;
    width:0%;
  }
.top, .bottom{
  width: 98%;
  margin-top:0%;
  display: block;
}
.small_top{
  width:31%;
  margin-left: -41%;
  box-shadow:0 0 2px rgba(0,0,0,0.3);
}
 .sec_2{
    display: block;
  }
  .sec_1{
    display: block;
    padding-bottom:10%;
  }
   #btn-bar{
    display: block;
  }
  .flexContainer{
    display: block;
  }
    .black_box_text{
    display: block;
  }
    .container-footer{
    display: block;
  }
  #block_day_fool{
    display: block;
  }
    .list-wrapper{
    display: none;
  }
  #icon_mail{
  display: none;
 }
 #mail{
  display: block;
 }
    .large{
    display: block;
  }
  .sec_2{
    display: block;
  }
  .sec_1{
    display: block;
  }
   #btn-bar{
    display: block;
  }
  .flexContainer{
    display: block;
  }
    .black_box_text{
    display: block;
  }
  .container-footer{
    display: block;
  }
  #block_day_fool{
    display: block;
  }
  .list-wrapper{
    display: none;
  }
  .logo_header{
    width: 20%;
   padding-top: 8%;
  }
  #icon_mail{
  display: none;
 }
 #mail{
  display: block;
 }
 .scroll_container{
  padding-top:10%;
  padding-bottom:11%;
 }
  button{
  font-size: 1.3vw;
}
 .container {
    width: 8.6%;
}
.section{
  display: table;
}
.media_sec_one,.media_sec_two,.media_sec_three {
  display: none;
}



 }

 /*iPhone 4*/
 @media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {}
 


 /**/






