.preview{
	height: 30%!important;
	width:100%;
	  padding-top: 5%;
	
   padding-bottom: 5%;
   font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
font-style: 2vw;
}
.preview p {
  color: #787878;
 
	text-align: center;

display: inline-block;

}
.preview h3{
	  color: #002663;
	  text-align: center;
	  padding: 0%;
}
.preview h1{
	  color: #000;
	  text-align: center;
	   font-weight: 200;
}
.preview_text{
	max-width: 650px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
.sidenav a {

   
}


/*photo*/
.photo_hover1{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/3fc0e676651795.5c7005f5ceadf.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover2{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/948e8e76651795.5c7007c82e809.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover3{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/b6caa276651795.5d07bc9e9fe02.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover4{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/0d677276651795.5c6fdea1956a0.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover5{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/c6620376651795.5c7007c82eb5a.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover6{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/fd01c476651795.5c6fdea196b56.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover7{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/0a204b76651795.5c7008c7c5138.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover8{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/7de9d276651795.5c6ffb18d04b9.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}

.photo_hover10{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/b7947176651795.5c6fdea196eff.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover11{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e3702976651795.5c6fe02d1c499.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover12{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/c6b89c76651795.5c6fdea19640d.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover13{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/fb67a976651795.5c700d9ebcb0c.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover14{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/f6556676651795.5c7010b22ea32.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}

/*photo_text_bottom*/

.photo_text_bottom{
	
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
max-width: 1000px;
margin-right: 3%;
margin-left: 3%;
font-weight: 300;
color: #787878;
}
/*news*/
.text_hover_news {
margin:0 auto;
font-size: 22px;
/*line-height:150%;*/
font-weight: 300;
max-width: 1000px;
margin-right: auto;
margin-left: auto;
padding-top: 3%;
padding-bottom: 3%;
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;

}




@media only screen and (max-width : 1080px) {
h3 { font-size: 4.14vw }
.text_hover_news{
	font-size: 16px;
	margin-left: 3%;
	margin-right: 3%;
    
}
.preview h1{
    margin-left: 1%;
	margin-right: 1%;
}
}

    @media only screen and (min-width: 321px){
.logo_header img {
    width: 71%!important;
}
}

@media screen and (max-width: 1080px){
    .logo_header img {
    display: block;
    width: 29.3%;
    height: auto;
    margin: 0 auto;
    padding: 9% 0%!important;
    position: absolute;
}
}