.preview{
	height: 30%!important;
	width:100%;
	  padding-top: 5%;
	
   padding-bottom: 5%;
   font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
font-style: 2vw;
}
.preview p {
  color: #787878;
 
	text-align: center;

display: inline-block;

}
.preview h3{
	  color: #002663;
	  text-align: center;
	  padding: 0%;
}
.preview h1{
	  color: #000;
	  text-align: center;
	   font-weight: 200;
}
.preview_text{
	max-width: 650px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
.sidenav a {

   
}


/*photo*/
.photo_hover1{
	background: url(../Img/news/img_7/index_blog.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}

.photo_hover3{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/f4a13173153387.5c013b917d6d5.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover4{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/30e08973153387.5c0650c72d22c.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover5{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/1e84d873153387.5c0650c72dbf9.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover6{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/5c071073153387.5c0650c72c982.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover7{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/e2b5d773153387.5c013b917cc9a.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover8{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/fa053173153387.5c016f5418802.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover9{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/514ac173153387.5c0650c72be20.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover10{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/43884e73153387.5c0650c72e3b0.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    margin:0 auto;
    width: 84%;
}
.photo_hover11{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/00005873153387.5c1245c3bb0ce.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover12{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/65423273153387.5c123c2c81342.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover13{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/b54cec73153387.5c0105819e90f.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover14{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/7caf4773153387.5c0126840f248.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}


/*photo_text_bottom*/

.photo_text_bottom{
	
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
max-width: 1000px;
margin-right: 3%;
margin-left: 3%;
font-weight: 300;
color: #787878;
}
/*news*/
.text_hover_news {
margin:0 auto;
font-size: 22px;
/*line-height:150%;*/
font-weight: 300;
max-width: 1000px;
margin-right: auto;
margin-left: auto;
padding-top: 3%;
padding-bottom: 3%;
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
text-align: center;

}




@media only screen and (max-width : 1080px) {
h3 { font-size: 4.14vw }
.text_hover_news{
	font-size: 16px;
	margin-left: 3%;
	margin-right: 3%;
    
}
.preview h1{
    margin-left: 1%;
	margin-right: 1%;
}
}

    @media only screen and (min-width: 321px){
.logo_header img {
  /*  width: 71%!important;*/
}
}

@media screen and (max-width: 1080px){
    .logo_header img {
    display: block;
    width: 31.5%;
    height: auto;
    margin: 0 auto;
    padding: 9% 0%!important;
    position: absolute;
}
}