.preview{
	height: 30%!important;
	width:100%;
	  padding-top: 5%;
	
   padding-bottom: 5%;
   font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
font-style: 2vw;
}
.preview p {
  color: #787878;
 
	text-align: center;

display: inline-block;

}
.preview h3{
	  color: #002663;
	  text-align: center;
	  padding: 0%;
}
.preview h1{
	  color: #000;
	  text-align: center;
	   font-weight: 200;
}
.preview_text{
	max-width: 650px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
.sidenav a {

   
}


/*photo*/
.photo_hover1{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/9f9f4b82599577.5d22f32f8acb2.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    margin:0 auto;
    width: 84%;
}
.photo_hover2{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/0c990482599577.5d22f32f8bb63.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    margin:0 auto;
    width: 84%;
}
.photo_hover3{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/83dc6482599577.5d22f32f8bea0.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover4{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/68eb8b82599577.5d22f32f8b22a.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover5{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/0bc3a882599577.5d22f32f8a125.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover6{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/64131982599577.5d22f32f8a9ef.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover7{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/415ce182599577.5d22f32f899e4.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover8{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d8d2f482599577.5d22f32f8b75e.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover9{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f3f90082599577.5d22f32f8a52a.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
.photo_hover10{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/90ef8782599577.5d22f32f89c8a.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 72%;
    margin:0 auto;
    width: 84%;
}
/*photo_text_bottom*/

.photo_text_bottom{
	
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;
max-width: 1000px;
margin-right: 3%;
margin-left: 3%;
font-weight: 300;
color: #787878;
}
/*news*/
.text_hover_news {
margin:0 auto;
font-size: 22px;
/*line-height:150%;*/
font-weight: 300;
max-width: 1000px;
margin-right: auto;
margin-left: auto;
padding-top: 3%;
padding-bottom: 3%;
font-family: PF Regal,PF Regal Text Pro,Georgia,serif;

}




@media only screen and (max-width : 1080px) {
h3 { font-size: 4.14vw }
.text_hover_news{
	font-size: 16px;
	margin-left: 3%;
	margin-right: 3%;
    
}
.preview h1{
    margin-left: 1%;
	margin-right: 1%;
}
}

    @media only screen and (min-width: 321px){
.logo_header img {
 /*   width: 71%!important;*/
}
}

@media screen and (max-width: 1080px){
    .logo_header img {
    display: block;
    width: 31.5%;
    height: auto;
    margin: 0 auto;
    padding: 9% 0%!important;
    position: absolute;
}
}